header{
    background-color: #003300;
    color: white;
}

.square-container{
    margin: 60px 0;
}
.square1{
    background-color: aqua;
    width: 100%;
    height: auto;
    margin: 0 8px 15px 8px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}
.square1 h3{
        color: gold;
    }
.square1 img{
    width: 500px;
    height: 500;
}

.square2{
    background-color: aqua;
    width: 100%;
    height: auto;
    margin: 0 8px 15px 8px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}
.square2 h3{
    color: silver;
}
.square2 img{
    width: 500px;
    height: 500;
}

.square3{
    background-color: aqua;
    width: 100%;
    height: auto;
    margin: 0 8px 15px 8px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}
.square3 h3{
    color: brown;
}
.square3 img{
    width: 500px;
    height: 500;
}

.square4{
    background-color: aqua;
    width: 100%;
    height: auto;
    margin: 0 8px 15px 8px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}

.square4 img{
    width: 500px;
    height: 500;
}

.square5{
    background-color: aqua;
    width: 100%;
    height: auto;
    margin: 0 8px 15px 8px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}

.square5 img{
    width: 500px;
    height: 500;
}

a{
    color: white;
}

.NewPage{
    display: none;
}