header{
    background-color: #003300;
    color: white;
}

.square-container{
    margin: 40px 0;
}
.square1{
    h3{
        color: gold;
    }
    background-color: aqua;
    width: 60%;
    max-width: 600px;
    height: 250px;
    margin: 0 8px 15px 8px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}
a{
    color: white;
}