header{
    background-color: #003300;
    color: white;
}

.square-container{
    margin: 40px 0;
}
.square{
    width: 400px;
    height: 200px;
    margin: 0 8px 15px 8px;
    text-align: left;
    padding: 10px;
    overflow: auto;
}
a{
    color: white;
}