body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

header{
    background-color: #000066;
    color: white;
    text-align: center;
}

img{
 width: 50%; 
  height: auto;
  max-height: 50px;  
  object-fit: cover;
}
